@import "../../style.scss";

.leftBar {
  @include themify($theme) {
    font-family: "Anton", sans-serif;
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");
    @include mobile {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding: 20px;
      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 2px 1px;
          }
          span {
            font-style: 12px;
            font-weight: bold;
          }
        }
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-style: 12px;
          }
        }
      }
    }
  }
}
