@import "../../style.scss";

.editpostform {
  @include themify($theme) {
    background-color: themed("bgSoft");
    border-radius: 10px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    .container {
      .post {
        margin-bottom: 20px;

        label {
          padding: 10px 10px;
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }

        input {
          padding: 10px;
          border: themed("border");
          border-radius: 5px;
          outline: none;
          background-color: themed("border");
          color: themed("logo");
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;

        .item {
          cursor: pointer;
          font-size: 24px;

          &.close-icon {
            color: themed("btn-red");
          }

          &.check-icon {
            color: themed("btn-follow");
          }
        }
      }
    }
  }
}
